@use '@/styles/core/functions' as f;

.layout {
  --_header-height: 62px;

  display: grid;
  grid-template:
    ' .    header               .' f.v(_header-height)
    ' .    .                    .' 56px
    ' .    content              .' minmax(calc(f.v(window-height, 100vh) - f.v(_header-height) - 72px), 1fr)
    / auto minmax(auto, 1200px) auto;

  padding-block: 24px 48px;
  margin: 0 auto;

  width: 944px;

  &__header {
    grid-area: header;
  }

  &__content {
    grid-area: content;
  }
}
