@use '@/styles/core/functions' as f;
@use '@/styles/core/mixin' as m;

.header {
  @include m.flex(column nowrap, $gap: 16px);

  &__panel {
    @include m.flex($ai: center, $jc: space-between);
  }

  &__logo {
    margin-right: -34px;
    margin-bottom: -3px;
  }

  &__step {
    width: 60px;
    margin-top: -3px;

    text-align: right;
  }
}
