@use '@/styles/core/functions' as f;
@use '@/styles/core/mixin' as m;
@use '@/styles/core/screen' as s;

.container {
  --_container-width: 400px;

  @include m.flex;

  &_position {
    &_default,
    &_center {
      justify-content: center;
    }

    &_start {
      justify-content: flex-start;
    }
  }

  &__children {
    width: f.v(_container-width);

    &_size {
      &_default {
        --_container-width: 400px;
      }
    }
  }

  // ADAPTIVE
  @include s.mobile {
    --_container-width: auto;
  }
}
