@use '@/styles/core/functions' as f;
@use '@/styles/core/mixin' as m;

.progressBar {
  height: 8px;

  border-radius: 4px;
  background: f.color(gray-1);
  overflow: hidden;

  &__progress {
    position: relative;

    height: 8px;
    width: 0;

    background: f.color(physalis);
    border-radius: 4px;

    transform-origin: left;
    transition: width 500ms;
  }
}
