@use '@/styles/core/functions' as f;
@use '@/styles/core/mixin' as m;

.progressBar {
  @include m.flex;

  height: 8px;

  border-radius: 4px;
  background: f.color(gray-1);
  overflow: hidden;

  &__item {
    flex-grow: 1;

    &--active {
      background: f.color(physalis);
    }

    &--last {
      border-radius: 0 4px 4px 0;
    }
  }
}
