@use '@/styles/core/functions' as f;
@use '@/styles/core/mixin' as m;

.progressBar {
  height: 8px;

  border-radius: 4px;
  background: f.color(gray-1);
  overflow: hidden;

  &__progress {
    height: 8px;
    width: 100%;

    background: f.color(physalis);
    border-radius: 4px;

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 500ms;
  }
}
